.example-spacer {
    flex: 1 1 auto;
  }

  .example-button-row {
    display: table-cell;
  }

  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    width: 120px;
  }